*.vo
*.glob
*.v.d
*.aux
.depend
CONFIGURE
LogicGenerator/Config.v
LogicGenerator/Generated.v
LogicGenerator/Generated2.v
LogicGenerator/GeneratedGenerate.v
LogicGenerator/demo/interface*.v
LogicGenerator/demo/export_lib*.v
LogicGenerator/demo6/export_lib.v
LogicGenerator/demo6/interface.v
LogicGenerator/demo6/SepApply.v
